.our-guides {
  margin: 0 0 22px 0;
  padding-top: 137px;
  background: url(../../assets/gid.png) no-repeat;
  background-size: cover;
  height: 1055px;
  background-position: top center;
  .title-text {
    margin-bottom: 80px;
  }
  .slider-container {
    position: relative;
  }
  .slide-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #ffbd4e;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .custom-prev {
    left: -140px;
  }
  .custom-next {
    right: -140px;
  }
  .slide {
    border: 2px solid #ffbd4e;
    // padding: ;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    overflow: hidden;
    .info {
      width: 334px;
      padding: 26px 9px 17px 9px;
      background: #447f8d96;
      position: absolute;
      bottom: 18px;
      right: 18px;
      text-align: center;
    }
    .git-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 39.01px;
      text-align: center;
    }
    .git-desc {
      font-size: 15px;
      font-weight: 700;
      line-height: 19.95px;
      text-align: center;
      margin-top: 8px;
    }
    .git-img {
      margin-top: auto;
    }
  }
}
