.contact {
  padding-bottom: 173px;
  &-top {
    .title-text {
      margin-bottom: 112px;
      text-transform: uppercase;
    }
    &__boxes {
      display: flex;
      align-items: end;
      gap: 27px;
      justify-content: center;
    }
  }
  .content-box {
    border-bottom: 1px solid #ffbd4e;
    padding-bottom: 15px;
    .box {
      display: flex;
      align-items: end;
      gap: 21px;
      margin-bottom: 13px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.02em;
      }
    }
    a {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #fff;
      text-decoration: none;
    }
  }
  .midle-boxes {
    transform: translateY(-27px);
    .flex-box {
      display: flex;
      gap: 83px;
      align-items: start;
    }
  }
  .social-media {
    display: flex;
    gap: 31px;
    justify-content: center;
    margin-top: 44px;
  }
  .yellow-btn {
    width: 507px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffbd4e;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 83px auto 83px auto;
    text-transform: uppercase;
  }
  &-bottom {
    form {
      position: relative;
      margin-top: 70px;
      display: flex;
      align-items: stretch;
      gap: 28px;
      justify-content: center;
      margin-left: 194px;
    }
    .orange-btn {
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      font-weight: 400;
      line-height: 18.72px;
      text-align: center;
      transform: rotate(-90deg) translate(-88px, -88px);
      background: #ffbd4e;
      color: #000;
      border-radius: 20px;
      width: fit-content;
      height: fit-content;
      border: none;
      padding: 20px 56px;
    }
    .inputs {
      display: flex;
      gap: 21px;
      flex-direction: column;
      width: 644px;
    }
    input {
      width: 100%;
      font-family: 'Circe', sans-serif;
      font-size: 34px;
      font-weight: 400;
      line-height: 50.12px;
      height: 65px;
      padding-left: 30px;
      backdrop-filter: blur(15px);
      background: #d2d2d24d;
      border-radius: 20px;
      border: none;
      outline: none;
      color: #fff;
      &::placeholder {
        color: #ffffff4f;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-top__boxes {
    flex-direction: column;
    align-items: start;
  }
  .contact .midle-boxes {
    transform: none;
    width: 100%;
  }
  .contact .social-media {
    justify-content: start;
    margin-top: 27px;
  }
  .contact .midle-boxes .flex-box {
    flex-direction: column;
    gap: 27px;
  }
  .contact .content-box {
    width: 100%;
  }
  .contact .yellow-btn {
    margin: 50px auto 80px auto;
    width: 100%;
    height: 45px;
    border-radius: 10px;
  }
  .contact-bottom form {
    flex-direction: column;
  }
  .contact-bottom .orange-btn {
    transform: none;
    width: 100%;
    border-radius: 10px;
    padding: 15px 56px;
  }
  .contact-bottom .inputs {
    width: 100%;
  }
  .contact-bottom form {
    margin: 50px 0 0 0;
  }
  .contact-bottom input {
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
  }
  .contact {
    padding-bottom: 100px;
  }
}
