.about-us {
  padding: 50px 0;

  .title-text {
    text-align: left;
    padding-bottom: 17px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 66px;
    max-width: 657px;
  }
  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  &__gallery {
    display: flex;
    align-items: end;
    &-sub-img {
      width: 286px;
      height: 192px;
      margin-right: -66px;
      position: relative;
      z-index: 1;
      padding-bottom: 11px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 38px;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .about-us__box {
    flex-direction: column;
    align-items: start;
  }
  .about-us__content {
    max-width: 100%;
  }
  .about-us__gallery {
    img:not(.about-us__gallery-sub-img) {
      max-width: 390px;
      height: 322px;
    }
  }
}

@media (max-width: 768px) {
  .about-us__gallery {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .about-us__gallery {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .about-us__gallery-sub-img {
    padding: 0;
    margin-right: 0;
  }
  .about-us__content {
    gap: 20px;
  }
  .about-us__desc {
    font-size: 18px;
    line-height: 23px;
  }
}
