.intro {
  background: url(../../assets/intro-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 264px 20px 165px 20px;

  &-title {
    font-family: 'Unbounded';
    font-size: 64px;
    font-weight: 700;
    line-height: 89.6px;
    text-align: center;
    padding-bottom: 133px;
  }

  .selec-tour {
    max-width: 928px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 0 69px 33px 19px;
    &__box-title {
      font-size: 29px;
      font-weight: 700;
      line-height: 40.6px;
      text-align: center;
      padding-bottom: 20px;
    }
    &__box-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
      color: #ffbd4e;
      text-decoration: none;
      justify-content: center;
    }
  }
}

// media queris
@media (max-width: 768px) {
  .intro-title {
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 50px;
  }
  .intro {
    padding: 100px 20px 100px 20px;
  }
  .intro .selec-tour__box-title {
    font-size: 20px;
    line-height: 25px;
  }
  .intro .selec-tour__box-btn {
    font-size: 18px;
    line-height: 20px;
  }
  .intro .selec-tour {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  .intro-title {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 50px;
  }
  .intro .selec-tour {
    flex-direction: column;
    gap: 20px;
  }
  .intro .selec-tour__box-title {
    text-align: left;
  }
  .intro .selec-tour__box-btn {
    justify-content: start;
  }
}
