.journey {
  padding-bottom: 183px;
  &-container {
    max-width: 1377px;
    margin: 0 auto;
  }
  .sub-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding-top: 51px;
    max-width: 438px;
    margin: 0 auto;
  }
  &-boxes {
    margin-top: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-slider {
    z-index: 1;
    position: relative;
    // width: 613px;
    .mySwiper {
      width: 700px;
    }
    .swiper-img {
      width: 100%;
      height: 267px;
      opacity: 55%;
      border-radius: 25px;
      transition: all 0.2s linear;
      object-fit: cover;
    }
    .swiper-slide-prev {
      img {
        transform: translateX(81%);
      }
    }
    .swiper-slide-next {
      img {
        transform: translateX(-81%);
      }
    }
    .swiper-slide {
      height: 332px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide-active {
      img {
        height: 332px;
        opacity: 1;
        width: 613px;
        transform: none;
      }
    }
    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 402px;
      height: 267px;
      opacity: 55%;
      border-radius: 25px;
      &.left {
        left: -44px;
      }
      &.right {
        right: -44px;
      }
    }
    .active-img {
      width: 100%;
    }
  }
  &-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
    column-gap: 23px;
    width: 625px;
    row-gap: 33px;
    img {
      width: 100%;
      height: 99px;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .compas {
    padding-top: 252px;
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 34px;
      &__desc {
        font-size: 20px;
        font-weight: 400;
        line-height: 32.28px;
        letter-spacing: 0.01em;
        b {
          font-weight: 700;
        }
      }
      &__img {
        width: 300px;
        height: 324px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .journey-container {
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 1330px) {
  .journey-gallery {
    width: 325px;
    gap: 20px;
  }
  .journey-boxes {
    justify-content: space-around;
  }
  .journey-slider {
    width: 580px;
  }
}
@media (max-width: 1024px) {
  .journey-boxes {
    flex-direction: column;
    gap: 20px;
  }
  .journey-gallery,
  .journey-slider {
    width: 100%;
  }
  .journey-slider__img.left {
    left: -20px;
  }
  .journey-slider__img.right {
    right: -20px;
  }
  .journey .compas {
    padding-top: 100px;
  }
  .journey .compas-content {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .journey-slider__img {
    height: 176px;
  }
  .journey .compas-content__desc {
    font-size: 18px;
    line-height: 23px;
  }
  .journey {
    padding-bottom: 100px;
  }
  .journey-slider .mySwiper {
    width: 100%;
  }
  .journey-slider .swiper-img {
    transform: none !important;
    width: 100% !important;
  }
  .journey-boxes {
    margin-top: 50px;
  }
}
