*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* fonts */
@font-face {
  font-family: 'Gadugi';
  src: url(./fonts/Gadugi-Font-Family/Gadugi.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'Gadugi';
  src: url(./fonts/Gadugi-Font-Family/Gadugi-Bold.woff2);
  font-weight: bold;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  padding: 0;
  background: transparent;
  cursor: pointer;
}
/* font */
body {
  font-family: 'Gadugi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #070707;
  color: #fff;
}

.up-btn {
  position: fixed;
  bottom: 19px;
  right: 94px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #447f8d;
  background: #0e1011;
  svg {
    transform: rotate(-90deg);
    stroke-width: 3px;
    path {
      stroke-width: 3px;
    }
  }
}

.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1215px;
  margin: 0 auto;
}

.title-text {
  font-family: 'Unbounded', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
}
.title-text span {
  color: #ffbd4e;
  text-transform: lowercase;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
